.App {
  text-align: center;
}

#header-container {
  max-width: 100%;
  background-color: rgba(195, 202, 219, 0.199);
  padding-top: 80px;
  padding-bottom: 20px;
}

#counters {
  color: white;
}

#card-container {
  margin-top: 100px;
}

.card {
  width: 200px;
}

#logo {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.subtitle, #counters {
  font-family: 'Times New Roman', Times, serif;
}